<div>
    <div class="col-md-14">
        <div class="card card-user body-panel">
            <div class="card-body">
                <button class="btn btn-danger"> <a href="http://192.168.137.1:3000/api/school/schedule" target="_blank">Create Schedule</a> </button>
                <!-- <form>
                    <div class="card-header">
                    <h5 class="card-title">Personal Information</h5>
                    </div>
                    <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</div>
