<div>
    <div class="col-md-14">
        <div class="card card-user body-panel">
            <div class="card-body">
                <table class="table center">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Grades Given</th>
                        <th scope="col">Class per week</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let subject of subjects; let i = index">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.code }}</td>
                        <td>{{ subject.grade}}</td>
                        <td>{{ subject.class_per_week }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
